html {

    margin: 0px;
    padding: 0px;
}

body {

    margin: 2vw;
    padding: 0px;
}


/* ------------ MENU ----------------- */

.sidenav .closebtn {
    position: absolute;
    color: #f4cde1;
    display: block;

    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50vw;
    padding: 8px 8px 8px 32px;
    transition: 0.3s;

    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #18191c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f4cde1;
    display: block;
    transition: 0.3s;

    font-family: sans-serif;
    font-size: 1em;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav.open {
    width: 190px;

}

.menubar {
    font-size: 30px;
    cursor: pointer;
    color: #f4cde1;

    margin-left: 0px;
    margin-right: 0px;
}

/* --------------- OM------------------------- */

a {

    text-decoration: none;
}

#om .sectionwrapper {

    display: flex;
    padding-bottom: 100px;
}


#intro h2 {

    text-align: center;
    line-height: 80px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 3em;
}


/* TEMA */

#tema .sectionwrapper {

    display: flex;
    width: 80%;

    margin-left: 10vw;
    margin-right: 20vw;
    margin-top: 5vw;
    margin-bottom: 20vw;

}


.content {

    margin: 1vw;
}

.content:hover {
    opacity: 1;
    transition: .5s ease;
    background-color: #18191c;
    cursor: pointer;
    height: 22vw;
}



.column1 {
    flex-grow: 1;
    flex-basis: 10vw;

}

.column2 {
    border-left: 1px solid #f4cde1;
    flex-grow: 1;
    flex-basis: 10vw;

}

.column3 {

    border-left: 1px solid #f4cde1;
    flex-grow: 1;
    flex-basis: 10vw;
}

.column4 {

    border-left: 1px solid #f4cde1;
    height: 20vw;
    flex-grow: 1;
    flex-basis: 10vw;
}

#tema img {

    width: 100%;


}

/* ------------ CV -------------- */

#data_box h2 {

    line-height: 0px;
    padding: 2vw;
    margin: 0px;
    font-size: 1.4em;
    color: #f4cde1;
    font-family: 'Open Sans Condensed', sans-serif;

}

#data_box .column {

    border-top: 1px solid #f4cde1;
    border-bottom: 1px solid #f4cde1;
}

#data_box .img_picture {

    position: absolute;
    left: 68vw;
    top: 12.2vw;

}

.data .column {

    display: flex;

}

.data h2 {

    font-size: 1em;
}

.data img {

    width: 13vw;
    margin: 2vw;
}

ul {

    font-family: sans-serif;
    list-style-type: none;
}

#erfaring_box h2 {

    line-height: 0px;
    padding: 0px;
    margin: 0px;
    color: #f4cde1;
    font-family: 'Open Sans Condensed', sans-serif;
}

#erfaring_box img {

    max-width: 80px;

}

#erfaring_box .column {

    padding: 20px;
    margin-top: 10px;

    width: 100%;

    border-top: 1px solid #f4cde1;
    border-bottom: 1px solid #f4cde1;

}

/* ------------ TEMA 1 - 4 -------------- */

#tema .sectionwrapper {

    display: flex;
    flex-wrap: wrap;
}


.img img {

    max-width: 30vw;
    margin: 1vw;

}

.txt_1 {
    color: #ff3399;
}

.img {

    text-align: center;

}

h1 {

    color: #ff3399;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid #ff3399;
    padding: 1px;

    margin-left: 20vw;
    margin-right: 20vw;


}

h2 {

    color: #f4cde1;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 2px;

}

p {

    font-family: sans-serif;
    font-size: 0.9em;
}

.sectionwrapper {

    margin-left: 20vw;
    margin-right: 20vw;
    padding-bottom: 2vw;



}

#stilart .column {

    padding: 5px;
    border: 1px solid #f4cde1;

}

#keaapp img {

    max-width: 15vw;
}

#joejuice img {

    max-width: 15vw;
}

.link {

    border-top: 1px solid #f4cde1;
    border-bottom: 1px solid #f4cde1;
    margin-bottom: 10px;
    margin-top: 10px;

}

.link a {

    text-align: center;
    text-decoration: none;
    color: #f4cde1;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.8em;
}

.link a:hover {

    text-align: center;
    text-decoration: none;
    color: #ff3399;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.8em;

}


/* ------------ FOOTER -------------- */

footer {

    position: fixed;
    background-color: #18191c;
    width: 100%;
    height: 3vw;
    bottom: 0;
    left: 0;


}

footer p {
    font-family: sans-serif;
    text-align: center;
    color: white;

}

@media only screen and (max-width: 1100px) {
    #tema .sectionwrapper {
        width: 100%;
        margin-top: 15vw;
        margin-left: 1vw;
    }

    .img_picture {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    #tema .sectionwrapper {
        flex-direction: column;
        width: 90%;
        margin-left: 20vw;
        margin-bottom: 10vw;
        padding-bottom: 5vw;


    }
    .column1 {
        border-left: 1px solid #f4cde1;
        width: 60%;
    }
    .column2 {
        border-left: 1px solid #f4cde1;
        width: 60%;
    }
    .column3 {
        border-left: 1px solid #f4cde1;
        width: 60%;
    }
    .column4 {
        border-left: 1px solid #f4cde1;
        width: 60%;
    }

    .column4 .content {

        padding-bottom: 15vw;
    }

    .data .column {

        flex-direction: column;

    }
    .data img {

        min-width: 130px;
        text-align: center;
    }

    .img img {

        min-width: 140px;
        text-align: center;
    }

}
