html {

    margin: 0px;
    padding 0px;
}

body {

    margin: 0px;
    padding 0px;
}


/* ------------ MENU ----------------- */

.sidenav .closebtn {
    position: absolute;
    color: #f4cde1;
    display: block;

    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 8px 8px 8px 32px;
    transition: 0.3s;

    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #18191c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f4cde1;
    display: block;
    transition: 0.3s;

    font-family: sans-serif;
    font-size: 1em;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav.open {
    width: 190px;

}

.menubar {
    font-size: 30px;
    cursor: pointer;
    color: #f4cde1;

    margin-left: 0px;
    margin-right: 0px;
}

/* --------------- OM------------------------- */

a {

    text-decoration: none;
}

#om .sectionwrapper {

    display: flex;
    padding-bottom: 100px;
}


#intro h2 {

    text-align: center;
    line-height: 80px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 3em;
}


/* TEMA */

#tema .sectionwrapper {

    display: flex;

    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#tema .column {

    padding: 10px;

}


#tema .column_content {

    display: flex;
    flex-direction: row;
    height: 100%;

}

.content {

    padding: 10px;

}

.content:hover {
    opacity: 1;
    transition: .5s ease;
    background-color: #18191c;
    cursor: pointer;
}


#tema .txt {

    width: 150px;
}

.column2 {

    border-left: 1px solid #f4cde1;
    height: 250px;

}

.column3 {

    border-left: 1px solid #f4cde1;
    height: 250px;
}

.column4 {

    border-left: 1px solid #f4cde1;
    height: 250px;
}

#tema img {

    max-width: 180px;
}

/* ------------ CV -------------- */

#data_box h2 {

    line-height: 0px;
    padding: 0px;
    margin: 0px;
    color: #f4cde1;
    font-family: 'Open Sans Condensed', sans-serif;

}

#data_box .column {

    padding: 20px;
    height: 5px;
    width: 100%px;
    border-top: 1px solid #f4cde1;
    border-bottom: 1px solid #f4cde1;
}

#data_box .img_picture {

    position: absolute;
    left: 68vw;
    top: 12.2vw;

}

.data .column {

    padding-top: 20px;
    display: flex;
}

.data img {

    max-width: 200px;
}

ul {

    font-family: sans-serif;
    list-style-type: none;
}

#erfaring_box h2 {

    line-height: 0px;
    padding: 0px;
    margin: 0px;
    color: #f4cde1;
    font-family: 'Open Sans Condensed', sans-serif;
}

#erfaring_box img {

    max-width: 80px;
    margin-left: 20px;
}

#erfaring_box .column {

    padding: 20px;
    margin-top: 10px;

    height: 5px;
    width: 100%px;

    border-top: 1px solid #f4cde1;
    border-bottom: 1px solid #f4cde1;

}

/* ------------ TEMA 1 - 4 -------------- */

.img img {

    max-width: 450px;
    margin: 15px;

}

.txt_1 {
    color: #ff3399;
}

.img {

    text-align: center;
    flex-wrap: wrap;
}

h1 {

    color: #ff3399;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid #ff3399;
    padding: 1px;

    margin-left: 300px;
    margin-right: 300px;

}

h2 {

    color: #f4cde1;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4em;
    text-align: center;
    padding: 2px;

}

p {

    font-family: sans-serif;
    font-size: 0.9em;
}

.sectionwrapper {

    margin-left: 300px;
    margin-right: 300px;


}

#stilart .column {

    padding: 5px;
    border: 1px solid #f4cde1;

}

#keaapp img {

    max-width: 200px;
}

#joejuice img {

    max-width: 200px;
}

.link {

    border-top: 1px solid #f4cde1;
    border-bottom: 1px solid #f4cde1;
    margin-bottom: 10px;
    margin-top: 10px;

}

.link a {

    text-align: center;
    text-decoration: none;
    color: #f4cde1;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.8em;
}

.link a:hover {

    text-align: center;
    text-decoration: none;
    color: #ff3399;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.8em;

}


/* ------------ FOOTER -------------- */

footer {

    background-color: #18191c;
    width: 100%;
    height: 30px;
}

.footer {
    margin-left: 200px;
    margin-right: 200px;

    line-height: 25px;
    font-family: sans-serif;
    text-align: center;
    color: white;

}

/*
@media only screen and (max-width: 800px) {

    .sidenav {

        display: none;
    }

}

@media only screen and (max-width: 800px) {

    .open {

        display: none;
    }

}

@media only screen and (max-width: 800px) {

    .closebtn {

        display: none;
    }

}

@media only screen and (max-width: 800px) {

    .menubar {

        display: none;
    }

}

@media only screen and (max-width: 800px) {

    .sectionwrapper {

        margin: 30px;
        width: 300px;
    }

}

@media only screen and (max-width: 800px) {

    .img {

        margin: 10px;

    }

}
